<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  <ion-content scrollY="false" padding no-bounce class="no-scroll">
      <div text-center>
        <ion-img style="background-color: transparent;" width="110px" height="110px" src="assets/imgs/logo.png"></ion-img>
        <p id="logo-text" text-center>9 POINTS</p>
      </div>

      <div class="float-middle">
        <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm)" autocomplete="off">
          <ion-list>
            <ion-item class="bg-transparent">
                <ion-label floating color="dark">Nom</ion-label>
                <ion-input type="text" id="nom"  [(ngModel)]="user.nom"  name="nom" required #nom="ngModel"  color="dark"></ion-input>
            </ion-item>

            <ion-item class="bg-transparent">
                <ion-label floating color="dark">Email</ion-label>
                <ion-input type="email" id="email"  [(ngModel)]="user.email"  name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required #email="ngModel"  color="dark"></ion-input>
            </ion-item>

            <ion-item class="bg-transparent">
                <ion-label floating color="dark">Téléphone</ion-label>
                <ion-input type="tel" [(ngModel)]="user.phone" id="phone" name="phone" required #phone="ngModel" color="dark" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}"></ion-input>
            </ion-item>
          </ion-list>
        <button [disabled]="!loginForm.form.valid" type="submit" ion-button full color="dark">Submit</button>
      </form>
    </div>

    <ion-input [hidden]="true"></ion-input>
</ion-content>
