page-login-temp {
    .tabbar{
      opacity: 0 !important;
    }

    #logo-text{
      margin-left: auto;
      margin-right: auto;
      font-size: 2em;
      margin-top: 0px;
    }

    .logo{
      display: block;
      margin: auto;
      margin-top: 0;
      margin-bottom: 2vh;
      height: 85px;
    }

}
