page-statistics {
  .sliderLabels{
    height: auto !important;
    position: fixed;
  }

  .slide-nav {
    margin-top: -25px;
    z-index: 10;
  }

  .scoreContainer{
    margin-top: 3em;
    height: calc(100% - 3em);
  }
  .scroll-content{
    padding: 0 !important;
  }
  .slide-zoom{
     height: 100% !important;
  }

}
