<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-title text-center class="no-padding">Tableau des scores</ion-title>
    </ion-navbar>

    <ion-toolbar>
      <ion-slides #sliderNiveau>
        <ion-slide>
          <p class="no-padding no-margin">★</p>
        </ion-slide>
        <ion-slide>
          <p class="no-padding no-margin">★★</p>
        </ion-slide>
        <ion-slide>
          <p class="no-padding no-margin">★★★</p>
        </ion-slide>
        <ion-slide>
          <p class="no-padding no-margin">★★★★</p>
        </ion-slide>
        <ion-slide>
          <p class="no-padding no-margin">★★★★★</p>
        </ion-slide>
      </ion-slides>
      <button float-left ion-button small outline class="slide-nav"  color="dark" (click)="slidePrev();"><</button>
      <button float-right ion-button small outline class="slide-nav" color="dark" (click)="slideNext();">></button>
    </ion-toolbar>
</ion-header>
<ion-content padding no-bounce class="no-scroll">

      <ion-slides #sliderLabels class="sliderLabels">
        <ion-slide *ngFor="let niveau of labels">

          <ion-item>
            <ion-label>Schema</ion-label>
            <ion-select (ionChange)="loadScores($event)" >
              <ion-option *ngFor="let label of niveau" value="{{label.id}}">{{label.label}}</ion-option>
            </ion-select>
          </ion-item>

        </ion-slide>
      </ion-slides>

      <ion-scroll scrollY="true" #scoreContainer class="scoreContainer">
        <ion-grid>
          <ion-row class="row-scores">
            <ion-col col-2  text-center>
              Rang
            </ion-col>
            <ion-col col-4 text-center >
              Pseudo
            </ion-col>
            <ion-col col-4  text-center>
              Temps
            </ion-col>
            <ion-col col-2  text-center>
              Essais
            </ion-col>
          </ion-row>
          <ion-row class="row-scores" *ngFor="let score of scores">
            <ion-col col-2  text-center>
              {{ score.position }}
            </ion-col>
            <ion-col col-4 text-center>
              {{ score.pseudo }}
            </ion-col>
            <ion-col col-4  text-center>
              {{ score.temps }}
            </ion-col>
            <ion-col col-2  text-center>
              {{ score.essai }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-scroll>

</ion-content>
