<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  <ion-content scrollY="false" padding no-bounce class="no-scroll">
      <div text-center>
        <ion-img style="background-color: transparent;" width="80px" height="80px" src="assets/imgs/logo.png"></ion-img>
      </div>

      <div class="float-middle">
        <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm)" autocomplete="off">
          <ion-list>
            <ion-item class="bg-transparent">
                <ion-label floating color="dark">Email</ion-label>
                <ion-input type="email" id="email"  [(ngModel)]="user.email"  name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required #email="ngModel"  color="dark"></ion-input>
            </ion-item>

            <ion-item class="bg-transparent">
                <ion-label floating color="dark">Mot de passe</ion-label>
                <ion-input type="password" [(ngModel)]="user.password" id="password" name="password" required #password="ngModel" color="dark"></ion-input>
            </ion-item>
          </ion-list>
        <button [disabled]="!loginForm.form.valid" type="submit" ion-button full color="dark">Submit</button>
      </form>


      <button ion-button outline full small color="dark" class="no-border" [navPush]="forgotPage">Mot de passe oublié</button>
      <button ion-button outline full small color="dark" class="no-border" [navPush]="signupPage">Créer un compte</button>
    </div>

    <div class="float-bottom">
      <button ion-button full color="facebook" (click)="overpass();">Connexion avec Facebook</button>
      <button ion-button full color="google">Connexion avec Google+</button>
    </div>

    <ion-input [hidden]="true"></ion-input>
</ion-content>
