<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Jouer" tabIcon="keypad"></ion-tab>
<!--  <ion-tab [root]="tab2Root" tabTitle="Stats" tabIcon="stats"></ion-tab> -->
  <ion-tab [root]="tab3Root" tabTitle="Compte" tabIcon="contact"></ion-tab>
</ion-tabs>
