<!--
  Generated template for the ComptePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mon Compte</ion-title>
  </ion-navbar>

</ion-header>



<ion-content scrollY="false" padding no-bounce class="no-scroll">

    <form #changeMdpForm="ngForm" (ngSubmit)="changeMdp(changeMdpForm)" autocomplete="off">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item class="bg-transparent">
                <ion-label floating color="dark">Ancien mot de passe</ion-label>
                <ion-input type="password" id="oldMdp" [(ngModel)]="user.oldMdp" #oldMdp="ngModel" name="oldMdp" required color="dark"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-item class="bg-transparent">
                <ion-label floating color="dark">Nouveau mot de passe</ion-label>
                <ion-input type="password" id="newMdp" [(ngModel)]="user.newMdp" #newMdp="ngModel" name="newMdp" required color="dark"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item class="bg-transparent">
                <ion-label floating color="dark">Confirmation du mot de passe</ion-label>
                <ion-input type="password" id="newMdpConfirm" [(ngModel)]="user.newMdpConfirm" #newMdpConfirm="ngModel" name="newMdpConfirm" required color="dark"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <button [disabled]="!changeMdpForm.form.valid" type="submit" ion-button full color="dark">Valider</button>
    </form>


</ion-content>
