<!--
  Generated template for the GamePlayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center *ngIf="schemaLoaded">{{niveau}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="">
  <div>
    <form>
      <ion-item>
        <ion-label>Niveau</ion-label>
        <ion-select>
          <ion-option value="1">Niveau 1</ion-option>
          <ion-option value="2">Niveau 2</ion-option>
          <ion-option value="3">Niveau 3</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="bg-transparent">
          <ion-label floating color="dark">Titre</ion-label>
          <ion-input type="text" id="email"  name="titre" required #titre ></ion-input>
      </ion-item>
    </form>
  </div>

  <div class="float-bottom">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div id="patternContainer"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
