// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
  @font-face {
    font-family: magettas;
    src: url("../assets/magettas.ttf");
  }
  body div, body input, body p, body h1, body h2, body h3, body h4, body h5, body span{
      font-family: magettas;
  }


.bg-image{
  background-image: url('../assets/imgs/abstract-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.bg-transparent{
  background-color: transparent !important;
}

.float-bottom{
  position: absolute;
  bottom: 5px;
  left: 16px;
  right: 16px;
}
.float-middle{
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.centered{
  display: block !important;
  margin: auto !important;
  margin-top: 5px !important;
}

.no-padding{
  padding: 0 !important;
}
.no-margin{
  margin: 0 !important;
}
.no-border, .no-border .item-inner{
  border: none !important;
}
[ion-fixed]{
  height: 100% !important;
  width: 100% !important;
}
ion-list{
  margin-bottom: 5px !important;
}
ion-item{
  border-top: 0 !important;
  padding-left: 0 !important;
}
ion-input, ion-label{
  color: #222 !important;
}
ion-col, ion-row{
  padding: 0 !important;
}
.scroll-content{
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}
.row-scores{
  background: white;
  border-bottom: 1px solid lightgrey;
}
.row-scores ion-col{

}
