<!--
  Generated template for the ComptePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mon Compte</ion-title>
  </ion-navbar>

</ion-header>



<ion-content scrollY="false" padding no-bounce class="no-scroll">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="bg-transparent">
              <ion-label floating color="dark">Nom</ion-label>
              <ion-input type="text" id="nom" [(ngModel)]="user.nom" #nom="ngModel" name="nom" required color="dark" readonly></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item class="bg-transparent">
              <ion-label floating color="dark">Prénom</ion-label>
              <ion-input type="text" id="prenom" [(ngModel)]="user.prenom" #prenom="ngModel" name="prenom" required color="dark" readonly></ion-input>
            </ion-item>
            <ion-input [hidden]="true"></ion-input>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="bg-transparent">
              <ion-label floating color="dark">Email</ion-label>
              <ion-input type="email" id="email"  [(ngModel)]="user.email"  name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required #email="ngModel" readonly color="dark"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="bg-transparent">
              <ion-label floating color="dark">Pseudo</ion-label>
              <ion-input type="text" id="pseudo" [(ngModel)]="user.pseudo" #pseudo="ngModel" name="pseudo" required color="dark" readonly></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <button  ion-button full color="dark" (click)="goToChangeMdp();">Changer de mot de passe</button>
    <button  ion-button full color="dark" *ngIf="admin" (click)="goToEditorMenu();">Gérer les schémas</button>
    <button  ion-button full color="dark" (click)="disconnect();">Déconnexion</button>

</ion-content>
