<!--
  Generated template for the ForgotPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Récupération</ion-title>
  </ion-navbar>

</ion-header>


<ion-content scrollY="false" padding no-bounce class="no-scroll">

  <div class="float-middle">
    <ion-list>
      <ion-item class="bg-transparent">
        <ion-label floating color="dark">Email</ion-label>
        <ion-input type="email" color="dark"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full color="dark">Envoyer l'email</button>
  </div>

  <div class="float-bottom">
    <p ion-text text-center color="dark">Un email vous sera envoyé contenant un nouveau mot de passe généré aléatoirement.</p>
  </div>

  <ion-input [hidden]="true"></ion-input>
</ion-content>
