<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-title text-center class="no-padding">9 POINTS</ion-title>
    </ion-navbar>
</ion-header>

<ion-content scrollY="false" padding no-bounce class="no-scroll">

        <div *ngFor="let niveau of niveaux" (click)="launchGame(niveau);" class="menuItem {{niveau.visible}}">
            <span class="colorBlock " *ngIf="niveau.niveau == 4">X</span>
            <span class="colorBlock" *ngIf="niveau.niveau < 4">{{niveau.niveau}}</span>

            <span class="colorText" *ngIf="niveau.niveau == 4">BONUS</span>
            <span class="colorText" *ngIf="niveau.niveau < 4">LEVEL</span>
        </div>

</ion-content>
