page-game-menu {
  ion-content, ion-navbar, .toolbar-background{
    background-color: black !important;
  }
  .toolbar-title
  {
    color: white;
    font-size: 30px;
  }
  .slide-nav{
    margin-top: -25px;
    z-index: 10;
  }

  ion-col{
    height: 100px !important;
  }
  .slide-zoom, ion-scroll{
    height: 100%;
  }
  .scroll-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menuItem
  {
    display: block;
    width: 175px;
    margin: 10px;
    opacity: 0.5;
    text-align: center;
  }
  .menuItem.visible
  {
    opacity: 1;
  }
  .menuItem .colorBlock
  {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-size: 25px;
  }
  .menuItem .colorText
  {
    float: right;
    width: calc(100% - 60px);
    display: inline-block;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    font-weight: bold;
  }

  .menuItem:nth-child(1) .colorBlock
  {
    background-color: red;
  }
  .menuItem:nth-child(1) .colorText
  {
    color: red;
  }
  .menuItem:nth-child(2) .colorBlock
  {
    background-color: blue;
  }
  .menuItem:nth-child(2) .colorText
  {
    color: blue;
  }
  .menuItem:nth-child(3) .colorBlock
  {
    background-color: yellow;
  }
  .menuItem:nth-child(3) .colorText
  {
    color: yellow;
  }
  .menuItem:nth-child(4) .colorBlock
  {
    background-color: white;
  }
  .menuItem:nth-child(4) .colorText
  {
    color: white;
  }
}
