<!--
  Generated template for the GamePlayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="schemaLoaded" text-center>9 POINTS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="game-play">
  <audio>
    <source src="assets/sounds/bell-3.mp3" type="audio/mpeg">
  </audio>
  <audio>
    <source src="assets/sounds/bell-1.mp3" type="audio/mpeg">
  </audio>
  <ion-grid>
    <ion-row>
      <ion-col col-6 text-right>
        <div class="float-middle">
          <img id="nbTry-icon" src="assets/imgs/thumbs.png">
          <span #nbTry id="nbTry">00</span>
        </div>
      </ion-col>
      <ion-col col-6 text-center>
          <div id="patternReference" ></div>
      </ion-col>
    </ion-row>
  </ion-grid>


    <p id="titleSchema" class="{{colorLines}}">{{labels[rank]}}</p>

    
  <div class="float-bottom">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div id="patternContainer" class="{{colorLines}}"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p #timer class="timer" text-center>03:00:000</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
