page-game-play {

    ion-app.md, ion-content, .scroll-content{
    padding: 0px !important;
  }
    audio{
      display: none;
    }
    ion-grid, ion-row, ion-col{
      margin: 0 !important;
      padding: 0 !important;
    }
    ion-backdrop{
      display: none;
    }
    ion-alert{
      background: black !important;
    }
    ion-alert{
      &.backgroundBlack{
        background: black !important;
      }
    }
    ion-title{
      padding-right: 3.2em;
      font-weight: bold;
    }
    ion-title > div{
      font-weight: bold !important;
      color: red;
      font-size: 2.5em !important;
      transform: scale(1.3,1);
      -webkit-transform: scale(1.3,1);
      -moz-transform: scale(1.3,1);
      -o-transform: scale(1.3,1);
      -ms-transform: scale(1.3,1);
      color: black !important;
      overflow: visible !important;
    }
    .big-point{
      border-radius: 100%;
      width: 15px;
      height: 15px;
      margin: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }

    .timer{
      color: white;
      padding: 0 !important;
      margin-top: 7px !important;
      margin-bottom: 0 !important;
      font-size: 2.5em;
      font-weight: bolder;
      letter-spacing: 7px;
    }

    #patternReference{
      border-radius: 1em;
      background-color: rgba(0,0,0,0);
    }
    #patternReference .patt-wrap{
      margin-top: 0px;
    }
    #patternReference .patt-lines{
      height: 2px;
      background-color: #002eff;
    }
    #patternReference .patt-lines.w{
      margin-top: -4px;
      margin-left: -6px;
    }
    #patternReference .patt-lines.n{
      margin-top: -4px;
      margin-left: -1px;
    }
    #patternReference .patt-lines.s{
      margin-left: -5px;
      margin-top: 1px;
    }
    #patternReference .patt-lines.n-e{
      margin-top: -1px;
      margin-left: -1px;
    }
    #patternReference .patt-lines.n-w{
      margin-left: -5px;
      margin-top: -6px;
    }
    #patternReference .patt-lines.s-e{
      margin-left: -4px;
      margin-top: 1px;
    }
    #patternReference .patt-lines.s-w{
      margin-left: -6px;
    }
    #patternReference .patt-dots{
      height: 7px;
      width: 7px;
      background-color: #002eff;
    }
    #patternReference .patt-circ.hovered{
      border: none !important;
    }
    #nbTry, #nbTry-icon{
      display: block;
      width: 100%;
      font-size: 4em;
      color: red;
    }
    #nbTry{
      margin-top: -15px;
      padding-right: 65px;
      transform: scale(1,0.6);
      -webkit-transform: scale(1,0.6);
      -moz-transform: scale(1,0.6);
      -o-transform: scale(1,0.6);
      -ms-transform: scale(1,0.6);
      word-wrap: normal;
    }
    #titleSchema{
      padding-top: 0px;
      font-size: 2em;
      color: #002eff;
      position: absolute;
      top: calc(50% - 5.15em);
      width: 100%;
      text-align: center;
    }
    #nbTry-icon{
      margin-right: 65px;
      margin-top: 0.3em;
      margin-left: auto;
      padding-right: 10px;
      width: 1.2em !important;
    }
    #patternContainer .patt-circ{
      border-color: transparent !important;
    }
    #patternContainer.white .patt-lines, #patternContainer.white .patt-dots {
      background-color: white;
    }
    #patternContainer.yellow .patt-lines, #patternContainer.yellow .patt-dots{
      background-color: yellow;
    }
    #patternContainer.blue .patt-lines, #patternContainer.blue .patt-dots{
      background-color: blue;
      color: blue;
    }
    #patternContainer.red .patt-lines, #patternContainer.red .patt-dots{
      background-color: red;
    }
    ion-alert {
  &.alert-failure {
    .alert-head {
      background: map-get($colors, warning);
      color: #fff;
      margin-bottom: 10px;
    }
  }
  &.alert-success {
    .alert-head {
      background: map-get($colors, success);
      color: #fff;
      margin-bottom: 10px;
    }
  }

}
  @media (max-width: 400px){

    #nbTry{
      padding-right: 35px;
    }
    #nbTry-icon{
      margin-right: 35px
    }
}
  @media (max-width: 360px){

    #nbTry{
      padding-right: 25px;
    }
    #nbTry-icon{
      margin-right: 25px
    }
    ion-title > div{
      transform: scale(0.8, 0.7);
      -webkit-transform: scale(0.8, 0.7);
      -moz-transform: scale(0.8, 0.7);
      -o-transform: scale(0.8, 0.7);
      -ms-transform: scale(0.8, 0.7);
    }
  }
}
.toolbar-title{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
#danger-1{
-webkit-animation:change-color 6s ease 0s infinite normal;
-moz-animation:change-color 6s ease 0s infinite normal;
-ms-animation:change-color 6s ease 0s infinite normal;
animation:change-color 6s ease 0s infinite normal;
}
#danger-2{
-webkit-animation:change-color 2s ease 0s infinite normal;
-moz-animation:change-color 2s ease 0s infinite normal;
-ms-animation:change-color 2s ease 0s infinite normal;
animation:change-color 2s ease 0s infinite normal;
}

@-webkit-keyframes change-color {
0%{ background-color:white; }
50%{ background-color: #ff6263; }
0%{ background-color:white; }
}

@keyframes change-color {
0%{ background-color:white; }
50%{ background-color: #ff6263; }
0%{ background-color:white; }
}
