<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Inscription</ion-title>
  </ion-navbar>

</ion-header>


<ion-content scrollY="false" padding no-bounce class="no-scroll">

  <form #signupForm="ngForm" (ngSubmit)="signup(signupForm)" autocomplete="off">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="bg-transparent">
              <ion-label floating color="dark">Nom</ion-label>
              <ion-input type="text" id="nom" [(ngModel)]="user.nom" #nom="ngModel" name="nom" required color="dark"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item class="bg-transparent">
              <ion-label floating color="dark">Prénom</ion-label>
              <ion-input type="text" id="prenom" [(ngModel)]="user.prenom" #prenom="ngModel" name="prenom" required color="dark"></ion-input>
            </ion-item>
            <ion-input [hidden]="true"></ion-input>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="bg-transparent">
              <ion-label floating color="dark">Email</ion-label>
              <ion-input type="email" id="email"  [(ngModel)]="user.email"  name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required #email="ngModel"  color="dark"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="bg-transparent">
              <ion-label floating color="dark">Mot de passe</ion-label>
              <ion-input type="password" id="password" [(ngModel)]="user.password" #password="ngModel" name="password" required color="dark"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item class="bg-transparent">
              <ion-label floating color="dark">Confirmer le mot de passe</ion-label>
              <ion-input type="password" id="passwordConfirm" [(ngModel)]="user.passwordConfirm" #passwordConfirm="ngModel" name="passwordConfirm" required color="dark"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <button [disabled]="!signupForm.form.valid" type="submit" ion-button full color="dark">Inscription</button>
  </form>

  <p ion-text text-center color="dark">En vous inscrivant, vous acceptez les conditions générales.</p>

</ion-content>
